{
  "properties": {
    "streamDeclarations": {
      "Custom-MyFluentBitLogs": {
        "columns": [
          {
            "name": "TimeGenerated",
            "type": "datetime"
          },
          {
            "name": "SeverityText",
            "type": "string"
          },
          {
            "name": "Body",
            "type": "string"
          },
          {
            "name": "Attributes",
            "type": "dynamic"
          }
        ]
      }
    },
    "destinations": {
      "logAnalytics": [
        {
          "workspaceResourceId": "/subscriptions/${SUBSCRIPTION_ID}/resourceGroups/${RESOURCE_GROUP}/providers/Microsoft.OperationalInsights/workspaces/${WORKSPACE_NAME}",
          "name": "myworkspace"
        }
      ]
    },
    "dataFlows": [
      {
        "streams": [
          "Custom-MyFluentBitLogs"
        ],
        "destinations": [
          "myworkspace"
        ],
        "outputStream": "Microsoft-OTel-Logs"
      }
    ]
  }
}