{
  "resourceLogs": [
    {
      "resource": {},
      "scopeLogs": [
        {
          "scope": {},
          "logRecords": [
            {
              "timeUnixNano": "__TIME_UNIX_NANO__",
              "severityText": "Info",
              "body": { "stringValue": "hello from opentelemetry input via OTLP" },
              "attributes": [
                { "key": "key1", "value": { "stringValue": "value1" } },
                { "key": "key2", "value": { "stringValue": "value2" } }
              ],
              "traceId": "5b8efff798038103d269b633813fc60c",
              "spanId": "eee19b7ec3c1b173"
            }
          ]
        }
      ]
    }
  ]
}
